{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{# bỏ navigation bar ở trang login #}
{% block nav %} {% endblock %}  

{% block body %}
<thead>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>eTutor </title>
	<!-- loader-->
	<link href="{{ asset('css/pace.min.css') }}" rel="stylesheet" />
	<script src="{{ asset('js/pace.min.js') }}"></script>
	<!--favicon-->
	<link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
	<!-- Bootstrap core CSS-->
	<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
	<!-- animate CSS-->
	<link href="{{ asset('css/animate.css') }}" rel="stylesheet" type="text/css" />
	<!-- Icons CSS-->
	<link href="{{ asset('css/icons.css') }}" rel="stylesheet" type="text/css" />
	<!-- Custom Style-->
	<link href="{{ asset('css/app-style.css') }}" rel="stylesheet" />
</thead>
<body class="bg-theme bg-theme2">
    {% for message in app.session.flashbag.get('Warning') %}
    <p class="alert alert-danger text-uppercase text-center">{{ message }}</p>
{% endfor %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

	<div id="wrapper">

		<div class="loader-wrapper">
			<div class="lds-ring">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<div class="card card-authentication1 mx-auto my-5">
			<div class="card-body">
				<div class="card-content p-2">
					<div class="text-center">
						<img src="{{ asset('images/logo-icon.png') }}" alt="logo icon">
					</div>
					<div class="card-title text-uppercase text-center py-3">Sign In</div>
					<form method="POST">
						<div class="form-group">
							<div class="position-relative has-icon-right">
                                <label for="inputUsername">Username</label>
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
								<div class="form-control-position">
									<i class="icon-user"></i>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="position-relative has-icon-right">
                                <label for="inputPassword">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                                >
                                <br>
								<div class="form-control-position">
									<i class="icon-lock"></i>
								</div>
							</div>
						</div>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>  
				</div>
				<button type="submit" class="btn btn-light btn-block">Sign In</button>
                <h5>
                    <a class="btn btn-light btn-block" href="{{ path('app_register') }}">Register new account</a>
                </h5>
</form>
			</div>
		</div>
	</div>

	<!--Start Back To Top Button-->
	<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
	<!--End Back To Top Button-->

	</div>
	<!--wrapper-->

	<!-- Bootstrap core JavaScript-->
	<script src="{{ asset('js/jquery.min.js') }}"></script>
	<script src="{{ asset('js/popper.min.js') }}"></script>
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>

	<!-- sidebar-menu js -->
	<script src="{{ asset('js/sidebar-menu.js') }}"></script>

	<!-- Custom scripts -->
	<script src="{{ asset('js/app-script.js') }}"></script>

</body>
{% endblock %}